{% extends "base.html" %}
{% load crispy_forms_filters %}
{% block title %}change password{% endblock %}

{% block body_middle %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <hr>
        <button class="btn btn-primary btn-block" type="submit">Change</button>
    </form>
{% endblock %}
